.new-tweet {
    margin-top: 6px;
    padding-left: 2em;
    padding-right: 2em;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: Azure;
}
#compose    {   
    float: right;
    height: 85%;
    width: 12%;
    margin: auto, 2em, auto, 2em;
    border-radius: 6px;
    border-width:  5px;
    color: black;
    border-color: rgb(49, 28, 13);
    background-color: mediumorchid;
}
#compose:hover  {
    background: beige;
    color: white;
    box-shadow: inset 0 0 0 3px #3a7999;
}
#compImg    {
    max-width: 15%;
    max-height: 90%;
}
.new-tweet h2{  
    border-bottom: 3px solid black;
    padding: 0 0 5px;
    margin: .5em 0;
}
textarea{
    margin: auto;
    width: 100%;
    height: auto;
    resize: vertical;
}
#subTweet   {
    margin-bottom: 4px;
}
span.counter    {
    float: right;
    margin-right: 6px;
}
/* section for the tweets  
section.tweets  {
    background-color: Beige;
}
*/
.container  {
    background: white;
}
.new-tweet  {
    margin-left: 2em;
    margin-right: 2em;
}
.tweets {
    margin-left: 2em;
    margin-right: 2em;
}
article.tweet {
    background: white;
    margin-top:  8px;    
    border: 2px solid grey;
    border-radius: 10px;
    overflow: hidden;
}
article > header  {
    padding: .5em;
    color: white;
    background-color: rgb(148, 129, 129);
}
span.user   {
    font-size:  1.25em;
    margin-left: .25em;
    margin-top: auto;
    margin-bottom: auto;
}
span.handle {
    float: right;
    font-size: 115%;
    margin: auto;
}
p.tweetmsg  {
    padding-left: 2em;
    padding-right: 2em;
}
article > footer{
    padding:.25em;
    background-color: beige;
}
#errMsg{
    color: red;
    font: 15px, arial, sans serif;
    text-decoration: border, blink;
    visibility: hidden;
}
.tweet header img {
    border-radius: 5px;
    float:left;
}
.icons  {
    float: right;
    visibility: hidden;
}
.tweet:hover .icons{
    visibility:visible;
}

